:root {
    --blue:  #4da6ff;
    --white: #ffffff;
    --grey: #cccccc;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    background-color: var(--grey);
  }

  .stickyheader{
    padding: 20px 35px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url('images\This Page (1550 x 500 px).png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
.stickyheader{
    text-decoration: none;
    color: var(--grey);
  }

.stickyheader nav{
    margin: 7px 0;
}

.stickyheader nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--grey);
    color: var(--white);
    border-radius: 15px;
    text-shadow: none;
  }

  .dessert {
    width: 100%;
  }
  .banner {
    display: none;
  }
  
  .about{
    font-size: 25px;
    border-bottom: 3px solid;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
  }
  
  .work {
    font-size: 25px;
    border-bottom: 3px solid;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
  }

  .contact {
    font-size: 25px;
  border-bottom: 3px solid;
  color: black;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  }

  .footer {
    font-size: 25px;
  border-bottom: 3px solid;
  color: black;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  }
